.box-option {
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 8px;
    cursor: pointer;
    gap: 12px;

    img {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
}

.box-option:hover {
    border: 2px solid rgb(255, 116, 142);
}

@media(max-width: 750px) {
    .box-option {
        width: 200px;
        height: 200px;

        img {
            width: 125px;
            height: 125px;
        }
    }
}